body{
    padding:0 50px;
    background: #efefef;
}
@media screen and (max-width: 320px) {
    body {
        padding:0 25px;
    }
}
.logo{
    margin:60px auto 0 auto;
    background: url("../img/logo_03.png")no-repeat center;
    background-size: 164px;
    width:164px;
    height:65px;
}
.form{
    margin-top:60px;

}
.input_left{
    display:inline-block;
    padding:0 5%;
}
/*.input_box:after{*/
/*display:block ;*/
/*width:100%;*/
/*background-color:#000;*/
/*height:1px;*/
/*content:"";*/
/*}*/
.input_box{
    background-color: #fff;
    border-radius: 5px;
    margin-top:1px;
    height:50px;
    line-height: 50px;
}
.input_right{
    color:#b6b6b6;
    display: inline-block;
}
.input{
    border:none;
    outline:none;
    font-size:14px;
    padding:10px 0;
    -webkit-tap-highlight-color:rgba(255,255,255,0)
}
.input_username_left{
    background: url("../img/username.gif") no-repeat center;
    background-size: 18px;
    width:18px;
    vertical-align: text-bottom;
    height:20px;
    display: inline-block;
}
.input_password_left{
    background: url("../img/password.gif") no-repeat center;
    background-size: 18px;
    width:18px;
    vertical-align: text-bottom;
    height:20px;
    display: inline-block;
}
.form_button{
    background-color: #ef7c52;
    margin-top:36px;
    color:#fff;
    width:100%;
    height:50px;
    outline: none;
    border-radius: 5px;
    line-height: 50px;
    margin-left:auto;
    margin-right:auto;
    display: block;
    font-size:18px;
    border:none;
    -webkit-tap-highlight-color:rgba(255,255,255,0)
}
.register{
    display: inline-block;
    margin-top: 25px;
    color:#ef7c52;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    float: left;
}
.forget{
    display: inline-block;
    margin-top: 25px;
    color:#ef7c52;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    float: right;
}
.demo-list-middle{
    display: inline-block;
    margin-top: 27px;
    vertical-align: bottom;
    width:1px;
    height:20px;
    background-color: #ef7c52;
    -webkit-tap-highlight-color:rgba(255,255,255,0)
}
.demo-list{
    width:100%;
    text-align: center;
}
@media screen and (max-height: 480px) {
    .logo{
        margin-top:35px;
    }
}
.alert{
    background-color: #fff;
    position: absolute;
    border:none;
    top:25%;
    left:35px;
    right:35px;
    z-index: 3;
    display: none;
}
.alert_title{
    margin:0;
    margin-top:20px;
    text-align: center;
    font-size: 16px;
}
.alert_text{
    margin:0;
    text-align: center;
    font-size: 14px;
    padding:20px 0 0 0;
}
.alert_text:after{
    content:"";
    display: block;
    width:100%;
    height:1px;
    margin-top: 35px;
    background-color: #ccc;
}
.alert_btn{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    border:none;
    outline: none;
    width:100%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color: #ef690c;
    background-color: transparent;
}
.shadow{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
    z-index: 2;
    display: none;
}
