.reply{
    padding:15px 25px;
    border-bottom: 1px solid #c9caca;
    position: relative;
}
.reply p{
    text-align: justify;
    font-size: 14px;
    margin-top:5px;
}
.reply span{
    font-size: 14px;
}
.reply ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.reply-text{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}
.reply-img{
    width:55px;

}
.reply-img img{
    width:35px;
    height:35px;
    border-radius: 50%;
    margin-top: 15px;
}
.reply-time{
    margin-left: 30px;
}
.reply-comment{
    float: right;
    margin-top:3px;
}