body{
    background: #fff;
}
.content{
    margin-top:1px;
    padding:10px 0;
    background:#fff;
    border-bottom: 1px solid #c9caca;
}
.content ul{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.content-img{
    width:60px;
    padding:0 10px;
}
.content-img img{
    width:60px;
    height:60px;
}
.content-span{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}
.content-button{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url("../img/nav_right.png") no-repeat center;
    background-size: 10px;
    height:64px;
}
.content-span-title{
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}
.content-span-content{
    font-size: 12px;
    height:32px;
    overflow: hidden;
    margin-top:8px;
}