<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>社趣帐号</title>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/forgetPassword.css">
    <script src="../js/forgetPassword.js"></script>
</head>
<body>
<form method="post" id="change_password" onsubmit="return false" class="form">
    <div class="input_box">
            <input type="tel" name="mobile" id="mobile" class="input" placeholder="
输入您的手机号" autocomplete="off"/>
    </div>
    <div class="input_check">
            <input type="text" placeholder="输入验证码" class="input" name="code" />
            <button class="get">获取验证码</button>
    </div>
    <div class="input_box">
            <input type="password" name="newPassword" class="input" placeholder="请设置新密码" />
    </div>
    <div class="input_box">
            <input type="password" name="newPassword" class="input" placeholder="确认新密码" />
    </div>
    <button class="form_button" type="submit">重置密码</button>
</form>

<div class="alert">
    <p class="alert_title">提示</p>
    <p class="alert_text"></p>
    <button class="alert_btn">好的</button>
</div>
<div class="shadow"></div>

</body>
</html>