<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>他的主页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/common.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/his_home.css">
    <script src="../js/his_home.js"></script>
</head>
<body>
    <div class="top">
        <img src="../img/201505181012986.jpg" alt="" class="header-sculpture">
    </div>
<div class="introduce">
    <ul>
        <li>    <p class="introduce-name">Michelle</p>
        </li>
        <li class="introduce-concern">关注</li>
        <li class="introduce-msg">私信</li>
        <li class="introduce-report">举报</li>
    </ul>
    <div class="synopsis">
    <span>个人简介：</span><span class="synopsis-content">如果你无法简洁的表达你的想法，那只说明你还不够了解它。</span>
    </div>
</div>
<div class="fan-or-concern">
    <ul>
        <li>关注&nbsp;112</li>
        <li>粉丝&nbsp;113</li>
    </ul>
</div>
<div class="his-tie">
    <p class="his-tie-title">他的帖子</p>
</div>
    <div class="jsonTip">
        <a href="">
    <div class="content">
        <ul>
            <li class="content-img"><img src="../img/201505181012986.jpg"></li>
            <li class="content-span">
                <h4 class="content-span-title">标题</h4>
                <p class="content-span-content">如果你无法简洁的表达你的想法，那只能说明你还不够了解他</p>
            </li>
            <li class="content-button"></li>
        </ul>
    </div>
        </a>
        <a href="">
    <div class="content">
        <ul>
            <li class="content-img"><img src="../img/201505181012986.jpg"></li>
            <li class="content-span">
                <h4 class="content-span-title">标题</h4>
                <p class="content-span-content">如果你无法简洁的表达你的想法，那只能说明你还不够了解他</p>
            </li>
            <li class="content-button"></li>
        </ul>
    </div>
            </a>
    </div>
</body>
</html>