<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>他的粉丝</title>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/his_fans.css">
    <script src="../js/his_fans.js"></script>
</head>
<body>
    <div class="list">
        <div class="list-img">
            <img src="../img/201505181012986.jpg">
        </div>
        <div class="list-name">
            <span>张三</span>
        </div>
    </div>
    <div class="list">
        <div class="list-img">
            <img src="../img/201505181012986.jpg">
        </div>
        <div class="list-name">
            <span>李四</span>
        </div>
    </div>
</body>
</html>