<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>热点</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../css/common.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/hot.css">
    <script src="../js/hot.js"></script>
</head>
<body>
    <div class="top-title">
        <p>社趣创新社趣生活</p>
        <div class="comment">36</div>
        <div class="like">20</div>
    </div>
<div class="content">
    <img src="../img/201505181012986.jpg" alt="" class="content-img">
    <div class="img-right">
        <p class="name">Michelle</p>
        <p class="time">2017-04-12</p>
    </div>
    <div class="content-text">
        <p>
            如果说你还不能简洁的表达你的想法，那只能说明你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。如果说你还不能简洁的表达你的想法，那只能说明 你还不够了解他。
        </p>
    </div>
</div>
    <p class="others-title">作者其它帖子</p>
<div class="others">
        <ul>
            <li class="others-img">
                <img src="../img/banner1.png" alt="">
            </li>
            <li class="others-text">
                <h4>标题</h4>
                <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
            </li>
        </ul>
    <div class="content-wrapper">
        <div class="comment">36</div>
        <div class="like">20</div>
    </div>
</div>
    <div class="others">
        <ul>
            <li class="others-img">
                <img src="../img/banner1.png" alt="">
            </li>
            <li class="others-text">
                <h4>标题</h4>
                <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
            </li>
        </ul>
        <div class="content-wrapper">
            <div class="comment">36</div>
            <div class="like">20</div>
        </div>
    </div>
    <div class="others">
        <ul>
            <li class="others-img">
                <img src="../img/banner1.png" alt="">
            </li>
            <li class="others-text">
                <h4>标题</h4>
                <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
            </li>
        </ul>
        <div class="content-wrapper">
            <div class="comment">36</div>
            <div class="like">20</div>
        </div>
    </div>
    <p class="reply-title">回复&nbsp;100</p>

    <!--只显示5条回复，小于5条显示暂无更多，大于5条显示更多回复-->
<div class="reply">
    <ul>
        <li class="reply-img">
            <img src="../img/201505181012986.jpg" alt="">
        </li>
        <li class="reply-text">
            <span class="reply-name">Allen</span>
            <span class="reply-time">4月12日</span>
            <span class="reply-comment"></span>
            <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
        </li>
    </ul>
</div>
    <div class="reply">
        <ul>
            <li class="reply-img">
                <img src="../img/201505181012986.jpg" alt="">
            </li>
            <li class="reply-text">
                <span class="reply-name">Allen</span>
                <span class="reply-time">4月12日</span>
                <span class="reply-comment"></span>
                <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
            </li>
        </ul>
    </div>
    <div class="reply">
        <ul>
            <li class="reply-img">
                <img src="../img/201505181012986.jpg" alt="">
            </li>
            <li class="reply-text">
                <span class="reply-name">Allen</span>
                <span class="reply-time">4月12日</span>
                <span class="reply-comment"></span>
                <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
            </li>
        </ul>
    </div>
<div class="more-reply">
    暂无更多
</div>
</body>
</html>