<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>我的评论</title>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/my_comment.css">
    <script src="../js/my_comment.js"></script>
</head>
<body>
<div class="reply">
    <ul>
        <li class="reply-img">
            <img src="../img/201505181012986.jpg" alt="">
        </li>
        <li class="reply-text">
            <span class="reply-name">Allen</span>
            <span class="reply-time">8小时前</span>
            <span class="reply-comment">04-12</span>
            <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
        </li>
    </ul>
</div>
<div class="reply">
    <ul>
        <li class="reply-img">
            <img src="../img/201505181012986.jpg" alt="">
        </li>
        <li class="reply-text">
            <span class="reply-name">Allen</span>
            <span class="reply-time">8小时前</span>
            <span class="reply-comment">04-12</span>
            <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
        </li>
    </ul>
</div>
<div class="reply">
    <ul>
        <li class="reply-img">
            <img src="../img/201505181012986.jpg" alt="">
        </li>
        <li class="reply-text">
            <span class="reply-name">Allen</span>
            <span class="reply-time">8小时前</span>
            <span class="reply-comment">04-12</span>
            <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
        </li>
    </ul>
</div>
</body>
</html>