<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>我的帖子</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/my_tie_content.css">
</head>
<body>
<div class="tie_title">
    <p>标题</p>
    <span>随便写一个标题</span>
</div>
<div class="tie_content">
    <textarea name="" id="" class="tie_content_textarea" placeholder="请输入内容"></textarea>
</div>
</body>
</html>