<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>我的帖子</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/my_tie.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <ul>
                <li class="content-img"><img src="../img/201505181012986.jpg"></li>
                <li class="content-span">
                    <h4 class="content-span-title">标题</h4>
                    <p class="content-span-content">如果你无法简洁的表达你的想法，那只能说明你还不够了解他</p>
                </li>
                <li class="content-button"></li>
            </ul>
        </div>
        <div class="content">
            <ul>
                <li class="content-img"><img src="../img/201505181012986.jpg"></li>
                <li class="content-span">
                    <h4 class="content-span-title">标题</h4>
                    <p class="content-span-content">如果你无法简洁的表达你的想法，那只能说明你还不够了解他</p>
                </li>
                <li class="content-button"></li>
            </ul>
        </div>
        <div class="content">
            <ul>
                <li class="content-img"><img src="../img/201505181012986.jpg"></li>
                <li class="content-span">
                    <h4 class="content-span-title">标题</h4>
                    <p class="content-span-content">如果你无法简洁的表达你的想法，那只能说明你还不够了解他</p>
                </li>
                <li class="content-button"></li>
            </ul>
        </div>
    </div>
</body>
</html>