<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <title>帖子</title>
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/tie_zi.css">
    <script src="../js/tie_zi.js"></script>
</head>
<body>
<div class="tie_title">
    <p class="tie_title_title">假设这是一个标题</p>
    <span class="tie_title_time">2014-04-12</span>
</div>
<div class="tie_content">
<p>
    假设这是一个标题假设这是一个标题假设这是一个标题假设这是一个标题假设这是一个标题假设这是一个标题假设这是一个标题假设这是一个标题假设这是一个标题
</p>
</div>
<div class="reply">
    <ul>
        <li class="reply-img">
            <img src="../img/201505181012986.jpg" alt="">
        </li>
        <li class="reply-text">
            <span class="reply-name">Allen</span>
            <span class="reply-time">4月12日</span>
            <span class="reply-comment"></span>
            <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
        </li>
    </ul>
</div>
<div class="reply">
    <ul>
        <li class="reply-img">
            <img src="../img/201505181012986.jpg" alt="">
        </li>
        <li class="reply-text">
            <span class="reply-name">Allen</span>
            <span class="reply-time">4月12日</span>
            <span class="reply-comment"></span>
            <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
        </li>
    </ul>
</div>
<div class="reply">
    <ul>
        <li class="reply-img">
            <img src="../img/201505181012986.jpg" alt="">
        </li>
        <li class="reply-text">
            <span class="reply-name">Allen</span>
            <span class="reply-time">4月12日</span>
            <span class="reply-comment"></span>
            <p>如果说你还不能洁的表达你的想法，那只能说明你还不够了解他。</p>
        </li>
    </ul>
</div>
</body>
</html>